/*
Folha de estilo do site thecloset50.com
@author Gustavo Vieira de Souto
*/

/* Layout ***************************/

/* Variáveis */

:root {
    --cinzaEscuro: #4f4f4f;
    --dourado: #DAA520;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinzaClaro: #DCDCDC;    
}

/* CSS Reset */
    
*{
    margin: 0;
    padding: 0;
    
}
